DataBaseLayer/Connected Services/InsertDataServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsertDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInsertDataService_InsertComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComputer" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertNotebooks_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNotebooks" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertNotebooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNotebooksResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertMonitors_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMonitors" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertMonitors_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMonitorsResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxCPU_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxCPU" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxCPU_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxCPUResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxHardDrive_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxHardDrive" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxHardDrive_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxHardDriveResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxLocation" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxMicrosoftOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxMicrosoftOffice" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxMicrosoftOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxMicrosoftOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxModelComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxModelComputer" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxModelComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxModelComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxModelMonitor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxModelMonitor" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxModelMonitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxModelMonitorResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxModelNotebook_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxModelNotebook" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxModelNotebook_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxModelNotebookResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxOperatingSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxOperatingSystem" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxOperatingSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxOperatingSystemResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxRAM_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxRAM" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxRAM_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxRAMResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxUser" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboBoxUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboBoxUserResponse" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboEquipmentStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboEquipmentStatus" />
  </wsdl:message>
  <wsdl:message name="IInsertDataService_InsertComboEquipmentStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComboEquipmentStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IInsertDataService">
    <wsdl:operation name="InsertComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComputer" message="tns:IInsertDataService_InsertComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComputerResponse" message="tns:IInsertDataService_InsertComputer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNotebooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertNotebooks" message="tns:IInsertDataService_InsertNotebooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertNotebooksResponse" message="tns:IInsertDataService_InsertNotebooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMonitors">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertMonitors" message="tns:IInsertDataService_InsertMonitors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertMonitorsResponse" message="tns:IInsertDataService_InsertMonitors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxCPU">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxCPU" message="tns:IInsertDataService_InsertComboBoxCPU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxCPUResponse" message="tns:IInsertDataService_InsertComboBoxCPU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxHardDrive">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxHardDrive" message="tns:IInsertDataService_InsertComboBoxHardDrive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxHardDriveResponse" message="tns:IInsertDataService_InsertComboBoxHardDrive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxLocation" message="tns:IInsertDataService_InsertComboBoxLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxLocationResponse" message="tns:IInsertDataService_InsertComboBoxLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxMicrosoftOffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxMicrosoftOffice" message="tns:IInsertDataService_InsertComboBoxMicrosoftOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxMicrosoftOfficeResponse" message="tns:IInsertDataService_InsertComboBoxMicrosoftOffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxModelComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxModelComputer" message="tns:IInsertDataService_InsertComboBoxModelComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxModelComputerResponse" message="tns:IInsertDataService_InsertComboBoxModelComputer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxModelMonitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxModelMonitor" message="tns:IInsertDataService_InsertComboBoxModelMonitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxModelMonitorResponse" message="tns:IInsertDataService_InsertComboBoxModelMonitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxModelNotebook">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxModelNotebook" message="tns:IInsertDataService_InsertComboBoxModelNotebook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxModelNotebookResponse" message="tns:IInsertDataService_InsertComboBoxModelNotebook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxOperatingSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxOperatingSystem" message="tns:IInsertDataService_InsertComboBoxOperatingSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxOperatingSystemResponse" message="tns:IInsertDataService_InsertComboBoxOperatingSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxRAM">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxRAM" message="tns:IInsertDataService_InsertComboBoxRAM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxRAMResponse" message="tns:IInsertDataService_InsertComboBoxRAM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxUser" message="tns:IInsertDataService_InsertComboBoxUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboBoxUserResponse" message="tns:IInsertDataService_InsertComboBoxUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComboEquipmentStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboEquipmentStatus" message="tns:IInsertDataService_InsertComboEquipmentStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsertDataService/InsertComboEquipmentStatusResponse" message="tns:IInsertDataService_InsertComboEquipmentStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInsertDataService" type="tns:IInsertDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertComputer">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComputer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotebooks">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertNotebooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMonitors">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertMonitors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxCPU">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxCPU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxHardDrive">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxHardDrive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxLocation">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxMicrosoftOffice">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxMicrosoftOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxModelComputer">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxModelComputer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxModelMonitor">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxModelMonitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxModelNotebook">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxModelNotebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxOperatingSystem">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxOperatingSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxRAM">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxRAM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboBoxUser">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboBoxUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComboEquipmentStatus">
      <soap:operation soapAction="http://tempuri.org/IInsertDataService/InsertComboEquipmentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertDataService">
    <wsdl:port name="BasicHttpBinding_IInsertDataService" binding="tns:BasicHttpBinding_IInsertDataService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Insert/IInsertDataService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>