DataBaseLayer/Connected Services/GetDataServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebServiceHost.Model" />
  <xs:element name="GetAllComputerses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComputersesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceHost.Model" minOccurs="0" name="GetAllComputersesResult" nillable="true" type="q1:ArrayOfComputersDataView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotebookses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotebooksesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceHost.Model" minOccurs="0" name="GetAllNotebooksesResult" nillable="true" type="q2:ArrayOfNotebooksDataView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMonitors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMonitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceHost.Model" minOccurs="0" name="GetAllMonitorsResult" nillable="true" type="q3:ArrayOfMonitorsDataView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>